.text{
    margin: 10px 0;
}
.text-org{
    background-color: white;
    border: #FF7F00 1px solid;
    border-radius: 20px;
    height: 30px;
    width: auto;
    font-size: 20px;
}

.text-small{
    background-color: white;
    border: #FF7F00 1px solid;
    border-radius: 20px;
    height: 30px;
    width:10%;
    font-size: 20px;
}

